<a title="Nonodename, Public domain, via Wikimedia Commons" 
href="https://commons.wikimedia.org/wiki/File:New_Power_BI_Logo.svg">
<img width="100%" height="100%" alt="New Power BI Logo" 
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/New_Power_BI_Logo.svg/512px-New_Power_BI_Logo.svg.png?20210102182532">
</a>
