<div class="transform hover:scale-125 duration-500 ease-in-out">
    <a href="https://www.accenture.com/es-es" target="blank">
        <img class="" src="https://www.vectorlogo.zone/logos/accenture/accenture-ar21.svg" alt="Logo Accenture">
    </a>
</div>