---

---
<div class="">
    <!--<p class="pt-4 text-3xl text-center">Contáctame por email</p> -->
    <form class="pl-4 pr-4 pb-8 pt-4 w-1/2 text-left bg-bmo">
        <p class="pb-2 text-2xl">Name</p>
        <input class="mb-4 p-2.5 w-full" placeholder="Your Name" name="nombre" type="text">
        <p class="text-2xl">Email</p>
        <input class="mb-4 p-2.5 w-full" placeholder="Your Email" name="gmail" type="text">
        <p class="text-2xl">Message</p>
        <textarea class="p-2.5 w-full h-full" placeholder="Your Message" name="mensaje"></textarea>   
    </form> 
</div>