---
import PhoneCanvas from '../components/3d/PhoneCanvas.jsx'

---
<!-- 
<div
    id="project1"
    class="md:mx-20 item active project-container box-content border-8 bg-bmo border-bmoOscuro sm:p-4 sm:max-h-full sm:mb-8 sm:flex sm:items-center"
>
    <div class="sm:flex-none sm:w-1/2 sm:mr-4">
        <div class="mt-40 w-full h-[500px]">
            <PhoneCanvas client:only="react" />
        </div>
    </div>
    <div class="flex-grow">
        <h3 class="text-4xl font-semibold text-center  py-6  underline sm:text-left sm:px-6">Raspberry Virtual Assistant</h3>
        <p class="text-center sm:text-left px-6 text-2xl pb-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            praesentium repudiandae veritatis? Totam delectus aspernatur
            consequuntur aut amet maiores illum deserunt repellat explicabo,
            sunt exercitationem nisi cumque cupiditate temporibus natus.
        </p>
        <div class="mt-4 flex justify-center pb-10 sm:pb-0 space-x-3">
            <button class="bg-gray-800 text-white px-4 rounded-md text-justify focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red">
            <a
                href="enlace_github_proyecto1"
                class=""
                >GitHub</a
            ></button>
            <button class="bg-blue-500 text-white px-4 rounded-md focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red items-center mx-auto content-center text-pretty">
            <a
                href="enlace_demo_proyecto1"
                class="break-keep  "
                >Play Demo</a
            ></button>
            <button class="bg-red-500 text-white px-4 rounded-md focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red">
            <a
                href="enlace_youtube_proyecto1"
                class="">YouTube</a
            ></button>
        </div>
    </div>
</div>
-->
<div
  id="project2"
  class="md:mx-20 item active project-container box-content border-8 bg-bmo border-bmoOscuro sm:p-4 sm:max-h-full sm:mb-8 sm:flex sm:items-center"
>
  <div class="sm:flex-none sm:w-1/2 sm:mr-4">
    <div class="aspect-[16/9] w-full">
      <PhoneCanvas client:only="react" />
    </div>
  </div>
  <div class="flex-grow">
    <h3 class="text-4xl font-semibold text-center py-6 underline sm:text-left sm:px-6">
      Raspberry Virtual Assistant
    </h3>
    <p class="text-center sm:text-left px-6 text-2xl pb-10">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
      praesentium repudiandae veritatis? Totam delectus aspernatur
     
    </p>
    <div class="mt-4 flex justify-center pb-10 sm:pb-0 space-x-3">
      <button class="bg-gray-800 text-white px-4 rounded-md text-justify focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red">
        <a href="enlace_github_proyecto2">GitHub</a>
      </button>
      <button class="bg-blue-500 text-white px-4 rounded-md focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red items-center mx-auto content-center text-pretty">
        <a href="enlace_demo_proyecto2">Play Demo</a>
      </button>
      <button class="bg-red-500 text-white px-4 rounded-md focus:outline-none focus:ring-4 py-2.5 mb-2 hover:bg-red">
        <a href="enlace_youtube_proyecto2">YouTube</a>
      </button>
    </div>
  </div>
</div>

