<div class="md:mx-20">
    <p class="text-center mt-40 text-5xl md:text-5xl tracking-tight font-extrabold text-white">
        About Me
    </p>
    <!--m-auto content-centerflex flex-col  mb-48 mt-10 lg:flex-row -->
    <div class="bg-bmo border-8 border-bmoOscuro relative flex flex-col mt-6  ">
        <div class="flex flex-col lg:flex-row">
            <img class="mx-auto aspect-square md:w-full lg:w-1/2 object-cover overflow-hidden mb-4 lg:mb-0" src="luisfoto.jpg" alt="Imagen de Guts" />
            <p class="text-xl md:text-xl lg:text-2xl text-white m-auto px-10 py-4 text-center">
                ¡Hola! Soy Luis, un apasionado desarrollador web con experiencia en la creación de soluciones web
                atractivas y eficientes. Mi enfoque se centra en construir experiencias de usuario intuitivas y 
                funcionales utilizando tecnologías modernas.
                ¡Hola! Soy Luis, un apasionado desarrollador web con experiencia en la creación de soluciones web
                atractivas y eficientes. Mi enfoque se centra en construir experiencias de usuario intuitivas y 
                funcionales utilizando tecnologías modernas.
            </p>
        </div>
    </div>
</div>