
<section id="experience"></section>

<div class="md:mx-20">
    <p class="text-center mt-40 text-5xl md:text-5xl tracking-tight font-extrabold text-white">
        Experience
    </p>
   

<div class="">
    <!--m-auto content-centerflex flex-col  mb-48 mt-10 lg:flex-row -->
    <div class="bg-bmo border-8 border-bmoOscuro relative flex flex-col mt-6">
        <div class="flex flex-col xl:flex-row">
            <a href="https://www.accenture.com/es-es" target="blank">
                <img class="justify-center mx-auto h-60 xl:pl-10 xl:h-72" src="https://www.vectorlogo.zone/logos/accenture/accenture-ar21.svg" alt="Logo Accenture">
            </a>
                <p class="text-xl md:text-xl   lg:text-2xl text-white m-auto px-10 py-4 text-center">
                    Prácticas de Formación en el módulo superior de Desarrollo Web llevadas a cabo en Accenture, con enfoque principal en la programación ABAP-SAP.
                    Prácticas de Formación en el módulo superior de Desarrollo Web llevadas a cabo en Accenture, con enfoque principal en la programación ABAP-SAP.
                    Prácticas de Formación en el módulo superior de Desarrollo Web llevadas a cabo en Accenture, con enfoque principal en la programación ABAP-SAP.
                </p>
        </div>
    </div>
</div>

 <!--m-auto content-centerflex flex-col  mb-48 mt-10 lg:flex-row -->

</div>