---
import PHP from "../tech/PHP.astro";
import Pythonico from "../tech/Pythonico.astro";
import Astroico from "../tech/Astroico.astro";
import Git from "../tech/Git.astro";
import Tailwind from "../tech/Tailwind.astro";
import Css from "../tech/Css.astro";
import Mysql from "../tech/Mysql.astro";
import Mongo from "../tech/Mongo.astro";
import Spark from "../tech/spark.astro";
import Colab from "../tech/Googlecolab.astro";
import Powerbi from "../tech/Powerbi.astro";
import Raspberry from "../tech/raspberry.astro";
import Sap from "../tech/Sap.astro";
import Threejs from "../tech/Threejs.astro";
import Laravel from "../tech/Laravel.astro";
import GitHub from "../tech/GitHub.astro";
import Azure from "../tech/Azure.astro";
import Docker from "../tech/Docker.astro";

---
<section id="tech"></section>
<p class="text-center max-w-full mb-8 mt-20 text-5xl tracking-tight font-extrabold text-white">
    Technologies
</p>
<div class="mx-20 lg:mt-20">
    <div class="lg:grid lg:grid-cols-2 lg:grid-rows-2 lg:gap-4">
        
        <!-- Lenguajes -->
        <div class="">
            <div>
                <p class="text-center text-2xl md:text-3xl pl-2 my-2  font-sans font-bold text-gray-200">
                    Lenguajes
                </p>
            </div>
            <div class="lg:h-80 border-8 border-bmoOscuro bg-bmo flex flex-wrap justify-center items-center gap-4 p-4">
                <div class="w-24 h-24"><PHP /></div>
                <div class="w-24 h-24"><Pythonico /></div>
                <div class="w-24 h-24"><Css /></div>
                <div class="w-24 h-24"><Mysql /></div>
                <div class="w-24 h-24"><Mongo /></div>
                <div class="w-24 h-24"><Sap /></div>
                <div class="w-24 h-24"><PHP /></div>
                <div class="w-24 h-24"><PHP /></div>
                <div class="w-24 h-24"><PHP /></div>
                <div class="w-24 h-24"><PHP /></div>


            </div>      
        </div>

        <!-- Frameworks y librerias -->
        <div>
            <div>
                <p class="text-center text-2xl md:text-3xl pl-2 my-2 font-sans font-bold text-gray-200">
                    Frameworks y librerias
                </p>
            </div>
            <div class="lg:h-80 border-8 border-bmoOscuro bg-bmo flex flex-wrap justify-center items-center gap-4 p-4">
                <div class="w-24 h-24"><Laravel /> </div>
                <div class="w-24 h-24"><Tailwind /></div>
                <div class="w-24 h-24"><Astroico /></div>
                <div class="w-24 h-24"><Threejs /></div>
            </div>
        </div>

        <!-- Aprendiendo -->
        <div>
            <div>
                <p class="text-center text-2xl md:text-3xl pl-2 my-2 font-sans font-bold  text-gray-200">
                    Aprendiendo
                </p>
            </div>
            <div class="lg:h-80 border-8 border-bmoOscuro bg-bmo flex flex-wrap justify-center items-center gap-4 p-4">
                <div class="w-24 h-24"><Spark /></div>
                <div class="w-24 h-24"><Azure /></div>
            </div>
        </div>

        <!-- Herramientas -->
        <div>
            <div>
                <p class="text-center text-2xl md:text-3xl pl-2 my-2 font-bold  text-gray-200">
                    Herramientas
                </p>            
            </div>
            <div class="lg:h-80 border-8 border-bmoOscuro bg-bmo flex flex-wrap justify-center items-center gap-4 p-4">
                <div class="w-24 h-24"><Git /></div>
                <div class="w-24 h-24"><GitHub /></div>
                <div class="w-24 h-24"><Powerbi /></div>
                <div class="w-24 h-24"><Raspberry /></div>
                <div class="w-24 h-24"><Colab /></div>
                <div class="w-24 h-24"><Docker /></div>
            </div>
        </div>


    </div>   
</div>